:host {
  min-width: 300px;
  width: 300px;
  flex-basis: 300px;
  border: 1px solid rgba(128, 128, 128, 0.27);
  height: 100%;
}

.test-1 {
  background-color: rgba(235, 14, 14, 0.69);
  width: 180px;
}
.test-2{
  background-color: #5e97dc;
  width: 180px;
}
